@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bigshot+One&family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
    
/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'Bitter', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Honk', system-ui; --------------------------
font-family: 'Maven Pro', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Russo One', sans-serif; ------------------
font-family: "Anta", sans-serif; ---------------------------- HEADER
font-family: "IBM Plex Mono", sans-serif;
*/



/* COLORES: azul #021327 
            marron #594711
            amarillo #594711
            beige #F2E4BB
            naranja #F25D07
*/
$color1:#FFCA2C;
$color2:#000000;
$color3:#312E49;


.cut{
    margin-top: 0;
}

p{
    font-family: "IBM Plex Mono", sans-serif;
}

h2{
    font-family: "Anta", sans-serif;
}
h3{
    font-family: 'Russo One', sans-serif;
}


// -------------------------------- HEADER -------------------------------------------


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 8%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .redes{
        margin-left: auto;
        font-size: 20px;
        a{
            &:hover{
                background: #ccc;
                background: linear-gradient(90deg, #6c0add 0%, #FC00FF 100%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
            }
        }
        .ws{
            padding-right: 15px;
        }
    }
    img{
        height: 90px;
    }
    .redes{
        .ws{
            color: #fff;
        }
        .insta{
            color: #fff;
        }
    }
    .navbar {
        
        a{
            font-family: "Anta", sans-serif;
        
        color: #000000;
        text-decoration: none;
        margin-left: 2.5rem;
        &:hover{
            background: #ccc;
            background: linear-gradient(90deg, #6c0add 0%, #FC00FF 100%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }}
    }
    .icons{
        font-size: 2.8rem;
        color: #fff;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 5%;
    }
}

.scroll-styles{
    background-color: $color1;
    transition: background-color 1s ease,backdrop-filter 1s ease;
}

#check{
    display: none;
}

// MEDIAQUIERIES

@media (max-width: 1020px){
    .header{
        .icons{
            display: inline-flex;
            #close-icon{
                display: none;
            }
        }
        .redes{
            margin-right: 4rem;
        }
        .navbar{
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0;
            box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
            transition: .3s ease;
            overflow: hidden;
            --bs-navbar-padding-y: 0;
            a{
                display: block;
                font-size: 1.1rem;
                margin: 1.5rem 0;
                text-align: center;
                transform: translateY(-10px);
                transition: .3s ease;
                opacity: 0;
            }
            
        }
    }

    #check:checked~{
        .icons{
            #menu-icon{
                display: none;
            }
            #close-icon{
                display: block;
            }
                }
        .navbar{
            height: 17.7rem;
            background-color: rgb(0, 0, 0, 0.1);
            backdrop-filter: blur(50px);
            a{
                transform: translateY(0);
                opacity: 1;
            }
        }
        .redes{
            display: block;
            color: #000000;
        }
    }
}



// -------------------------------- HEADER -------------------------------------------

//--------------------------------- BANNER --------------------------------------------
.carousel-item {
    position: relative; /* Establece el contenedor relativo para el posicionamiento absoluto */
    .bannerfondo {
        position: absolute;
        top: 145px; /* Ajusta este valor según lo necesites */
        left: 30px; /* Ajusta este valor según lo necesites */
        text-align: left;
        padding: 10px; /* Espaciado interno */
        h2{
            font-size: 70px;
            text-shadow: 2px 2px 10px rgb(191, 191, 191);
        }
    }
    .btnFondo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
        padding-bottom: 60px;
    }
    .bannerfondo3 {
        position: absolute;
        top: 105px; /* Ajusta este valor según lo necesites */
        left: 30px; /* Ajusta este valor según lo necesites */
        text-align: left;
        padding: 10px; /* Espaciado interno */
        
        h2{
            font-size: 55px;
            text-shadow: 4px 3px 10px rgb(66, 66, 66);
        }
    }
}



@media (max-width: 1160px){
    .carousel-item {
        position: relative; /* Establece el contenedor relativo para el posicionamiento absoluto */
        .bannerfondo {
            position: absolute;
            top: 110px; /* Ajusta este valor según lo necesites */
            left: 30px; /* Ajusta este valor según lo necesites */
            text-align: left;
            padding: 10px; /* Espaciado interno */
            
            h2{
                font-size: 55px;
            }
        }
        
    }}

@media (max-width: 575px) {
    .carousel-inner{
        .bg-img-1{
            background-image: url(../multimedia/bannercelu.jpg);
        }
        h2{
            display: none;
        }
        .bg-img-2{
            background-image: url(../multimedia/banner2celu.png);
        }
        .bg-img-3{
            background-image: url(../multimedia/banner3celu.jpg);
        }
    }
}

.bg-img-1 {
    background-image: url(../multimedia/banner1.png);
    background-position: center;
}
.bg-img-2 {
    background-image: url(../multimedia/banner2.jpg);
    background-position: bottom center;
}
.bg-img-3 {
    background-image: url(../multimedia/banner3.jpg);
    background-position: bottom center;
}
.carousel-image{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
}
.btn-info{
    height: 50px;
    width: 130px;
    align-items: center;
    justify-content: center;
    p{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
    }
}



//-------------------------------- BODY BUILDING -------------------------------------------
.gym-class {
    .primero{
        background-color: $color2;
        min-height: 300px;
        .primero1{
            height: 100%;
            h2{
                text-shadow: 3px 3px 5px rgb(121, 121, 121);
            }
        }

    }
    .segundo{
        background-color: $color1;
        min-height: 300px;
        .segundo2{
            height: 100%;
        }
    }
    .segundo{
        min-height: 300px;
        .segundo2{
            height: 100%;
            h2{
                text-shadow: 3px 3px 7px rgb(45, 45, 45);
            }
        }
    }
    .tercero{
        background-color: $color2;
        min-height: 300px;
        .tercero3{
            height: 100%;
            h2{
                text-shadow: 3px 3px 5px rgb(121, 121, 121);
            }
        }
    }
}

@media (max-width: 768px) {
    .gym-class{
        .primero{
            min-height: 150px;
        }
        .segundo{
            min-height: 150px;
        }
        .tercero{
            min-height: 150px;
        }
    }
}



//-------------------------------- PLAN SECTION -------------------------------------------

.planes{
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 17px;
    .planesTitulo{
        color: $color1;
    }
    .circulo{
        background-color: $color1;
    }
}

//------------------- CORTE ------------------------>

    .corte1{
        background-image: url(../multimedia/corte1.png);
        background-size: cover;
    }
    .corte2{
        background-image: url(../multimedia/corte2.png);
        background-size: cover;
    }
    .corte3{
        background-image: url(../multimedia/corte3.png);
        background-size: cover;
    }


//-------------------------------- QUIEN SOY SECTION -------------------------------------------

.experiencia{
    font-family: "IBM Plex Mono", sans-serif;
    padding-bottom: 0;
    .presentacionContenedor{
        // background-color: $color1;
        background-color: #ffaa00;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb109' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb812' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe1a' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc423' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFCA2C' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd738' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe343' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffed4f' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff75a' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        .presentacion{
            list-style: none;
            li{
                font-size: 20px;
                i{
                    font-size: 30px;
                }
            }
            
        }
    }
    
}

//-------------------------------- TESTIMONIOS SECTION -------------------------------------------

.testimonio{
    background-image: url(../multimedia/testimonioback.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}



// // -------------------------- CAMBIO AHORA --------------------------------
.cambio{
    background-color: #ffaa00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb109' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb812' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe1a' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc423' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFCA2C' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd738' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe343' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffed4f' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff75a' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    height: 200px;
    margin-bottom: 150px;
}


// // -------------------------- WHATSAPP--------------------------------

.whatsapp{
    img{
        height: 55px;
        width: 70px;
        bottom: 40px;
        right: 40px;
        position: fixed;
    }
}

//-------------------------------- FOOTER -------------------------------------------

footer{
    background-color: $color2;
    .miniMenu{
        a{
            font-family: "Anta", sans-serif;
        
        color: rgb(255, 255, 255);
        
        &:hover{
            background: #ccc;
            background: linear-gradient(90deg, #6c0add 0%, #FC00FF 100%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }}
    }
    
}

// -------------------------- PAGES PLANES -------------------------------- 

.bannerSup{
    background-image: url(../multimedia/bannerplanes.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 500px; 
    margin-bottom: 100px;
}


@media (max-width: 850px){
    .bannerSup{
        background-image: url(../multimedia/bannerplanescelu.jpg);
    }
}



.planess{
    // background-image: url(/multimedia/bannerplanes.jpg);
    background-color: #ffaa00;
    background-size: cover; 
    background-position: center;
    text-align: center;
    background-clip: content-box;
    ul{
        list-style: none;
        li{
            i{
                padding-right: 15px;
                font-size: 15px;
                color: $color1;
            }
        }
    }
    .objetivos{
        text-align: left;
        display: inline-block;
        // padding-top: 50px;
    }
}

.p1{
    background-image: url(/multimedia/planp1.png);
}

.p2{
    background-image: url(/multimedia/planp2.png);
}




// -------------------------- PAGES SUPLEMENTACION  --------------------------------      

.mySwiper{
    margin: 100px 500px;
    width: 100%;
    .swiper-wrapper{
        .swiper-slide{
            width: 400px;
            height: 700px;
            background-color: #474848;
            box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
            padding: 40px;
            text-align: center;
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
                img{
                    width: 250px;
                }
            }
            .product-content{
                display: flex;
                justify-content: space-between;
                .product-txt{
                    flex-basis: 50%;
                    text-align: left;
                    span{
                        font-size: 25px;
                        color: #ffffff;
                        font-weight: 600;
                    }
                    h3{
                        font-size: 20px;
                        color: #ffffff;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 14px;
                        color: #000000;                       
                    }
                }
                .product-img{
                    flex-basis: 50%;
                    text-align: right;
                    img{
                    width: 130px;
                    }
                }
            }
            .product-btn{
                display: inline-block;
                padding: 13px 55px;
                border: 2px solid #ffffff;
                border-radius: 25px;
                color: #ffffff;
                background-color: $color1;
                text-decoration: none;
                margin: 20px ;
                font-weight: 600;
                &:hover{
                    border: 2px solid #ffffff;
                    color: #ffffff;
                    background-color: $color2;
                }
            }
        }
    }
    .swiper-button-prev{
        border-radius: 65px 0 0 65px;
        color: #ffffff;
        margin-left: 200px;
    }
    .swiper-button-next{
        border-radius: 65px 0 0 65px;
        color: #ffffff;
        margin-right: 200px;
    }
}

@media (max-width: 1400px){
    .mySwiper{
        .swiper-button-prev{
            display: none;
        }
        .swiper-button-next{
            display: none;
        }
    }
    
}

